<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="device-width, initial-scale: 1.0">
        <title>Log In</title>
    </head>
    <body>
        <form method="POST" action="{{ url_for('auth.login') }}"> 
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=40) }}
            </p>
            <p> {{ form.submit() }}</p>
        </form>
        <a href="{{ url_for('google.login') }}">Login with Google</a>
        <a href="{{ url_for('github.login') }}">Login with Github</a>
    </body>
</html>